
.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #0F172A transparent #0F172A transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @media (max-width: 600px) {
    .form {
      width: 90%;
    }
  
    .heading h1 {
      font-size: 2rem;
    }
  
    .heading p {
      font-size: 1.5rem;
    }
  }


  /* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}


/* About styles */
.Tcolor{
  color: #334155;
}

.numcolor{
  color: #5C6064;
}

.pcolor{
  color: #334155;
}

.divcolor{
  background: #F4F3EE;
}

.divcoloretwo{
  background: #F2F0F0;
}

.divone{
  background: #E7EFFA;
}

.bgcolor{
  background: #F8FAFC;
}

.teambg{
  background: #B9BABF;
  padding-bottom: 3vh;
}




